@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .light {
    --color-background: #F9F9F8;
    --color-surface: #FFFFFF;
    --color-surface-subtle: #F3F1EC;
    --color-surface-container: #EBE7DF;
    --color-surface-container-high: #E2DBD1;
    --color-border-subtle: #D5CCC0;
    --color-text-primary: #2B2313;
    --color-text-secondary: #5F5646;
    --color-text-muted: #8F8676;
    --color-primary: #C93A20;
    --color-primary-container: #FFDAD4;
    --color-secondary: #5C5544;
    --color-secondary-container: #E0D3BB;
    --color-tertiary: #52634F;
    --color-tertiary-container: #D4E8D0;
  }
  
  .dark {
    --color-background: #181510;
    --color-surface: #221E18;
    --color-surface-subtle: #2C2821;
    --color-surface-container: #37332A;
    --color-surface-container-high: #433E35;
    --color-border-subtle: #565046;
    --color-text-primary: #EDE5D8;
    --color-text-secondary: #C8C0B4;
    --color-text-muted: #A39B90;
    --color-primary: #E25D45;
    --color-primary-container: #930005;
    --color-secondary: #C4B79E;
    --color-secondary-container: #443E2E;
    --color-tertiary: #B8CCB5;
    --color-tertiary-container: #3B4B38;
  }

  html, body { margin: 0; padding: 0; }
  body { 
    overscroll-behavior: none; 
    background-color: var(--color-background);
    color: var(--color-text-primary);
  }
  main > :first-child { margin-top: 0 !important; }
  main > :last-child { margin-bottom: 0 !important; }
}

::-webkit-scrollbar { display: none; }
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 350, 'GRAD' 0, 'opsz' 20;
}
